@charset "UTF-8";
/* NAVBAR TOGGLER COLORS */
.navbar-light .navbar-toggler {
    color: transparent;
    border-color: transparent;
  }
.navbar-toggler {
    padding: 0.25rem 0rem;
  }
.nav-link.active {
    color: #f7af63 !important;
}
/* HYPERLINK COLORS */
a {
    color: #767676 !important;
    text-decoration: none;
  }
a:hover {
    color: #f7af63 !important;
}

/* CARDS RESPONSIVE BEHAVIOR ON SMALL AND EXTRA SMALL DEVICES ONLY */
@media (max-width: 768px) {
    .text-xs-center {
        text-align: center;
    } 
    .pt-xs-3 {
        padding-top: 1rem;
    } 
    .card {
        max-width: 350px;
    }
}